# # Django
# SECRET_KEY=generate-a-new-secret-key-for-production
# DEBUG=False
# ALLOWED_HOSTS=ai-quiz-backend-yfaw.onrender.com

# # Database (paste from Supabase)
# DATABASE_URL=postgresql://postgres:Nitin123@db.fpyexxapjcbwedzzwmjk.supabase.co:5432/postgres

# # Cloudinary (paste from Cloudinary dashboard)
# CLOUDINARY_URL=cloudinary://745551538676532:mO0umk4i40kQ6cAVDiG4g6em-oo@dnuvk4d2q

# # AI
# GROQ_API_KEY=grok_api_key_from_groq_dashboard

# # Redis (paste from Upstash)
# REDIS_URL=REDIS_URL=rediss://default:gQAAAAAAAioEAAIgcDIzMjgzNGNiMDY1ZDQ0Yzg3ODIwMWI4ZDI1N2FhNjRhMw@on-deer-141828.upstash.io:6379

# # JWT
# JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
# JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# # CORS — your Vercel frontend URL
# CORS_ALLOWED_ORIGINS=https://your-app.vercel.app